body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 300px;
  background-color: rgb(191, 236, 186);
}

select,
button {
  display: flex;
  border-radius: 22px;
  background-color: rgb(210, 210, 255);
  margin-top: 8px;
  margin-bottom: 12px;
  width: 100%;
  padding: 6px;
}

h1,
h2 {
  text-align: center;
  color: black;
}

h3 {
  padding-left: 85px;
  border-radius: 55px;
  background-color: rgb(255, 198, 198);
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 6px;
}

.material-icons.delete-icon {
  color: #d11a2a;
  font-size: 18px;
}